# Exercise 6.1 Sourcing Open Data

# Importing libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data set

In [4]:
# Importing Data set
path=r'C:\Users\swati\Employee Termination Analysis'
df=pd.read_csv(os.path.join(path,'02 Data','Original Data','MFG10YearTerminationData.csv'), index_col = False)

# Consistency check

In [5]:
# checking size of dataframe
df.shape

(49653, 18)

In [6]:
# Checking for data types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [7]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [8]:
# Checking for missing values 
df.isnull().sum()

EmployeeID             0
recorddate_key         0
birthdate_key          0
orighiredate_key       0
terminationdate_key    0
age                    0
length_of_service      0
city_name              0
department_name        0
job_title              0
store_name             0
gender_short           0
gender_full            0
termreason_desc        0
termtype_desc          0
STATUS_YEAR            0
STATUS                 0
BUSINESS_UNIT          0
dtype: int64

### No missing values found

In [9]:
# Checking duplicate values 
df_dups=df[df.duplicated()]

In [10]:
df_dups

Empty DataFrame
Columns: [EmployeeID, recorddate_key, birthdate_key, orighiredate_key, terminationdate_key, age, length_of_service, city_name, department_name, job_title, store_name, gender_short, gender_full, termreason_desc, termtype_desc, STATUS_YEAR, STATUS, BUSINESS_UNIT]
Index: []

### No duplicates found

In [11]:
# Checking for mixed-types 
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

###  No mixed-type of data has been detected

In [12]:
df.describe()

,EmployeeID,age,length_of_service,store_name,STATUS_YEAR
count,49653.000000,49653.000000,49653.000000,49653.000000,49653.000000
mean,4859.495740,42.077035,10.434596,27.297605,2010.612612
std,1826.571142,12.427257,6.325286,13.514134,2.845577
min,1318.000000,19.000000,0.000000,1.000000,2006.000000
25%,3360.000000,31.000000,5.000000,16.000000,2008.000000
50%,5031.000000,42.000000,10.000000,28.000000,2011.000000
75%,6335.000000,53.000000,15.000000,42.000000,2013.000000
max,8336.000000,65.000000,26.000000,46.000000,2015.000000

# Data Wrangling

In [13]:
# Renaming some column names
df.rename(columns = {'EmployeeID':'employee_id', 'store_name':'store_number', 'STATUS_YEAR':'year_of_record', 'gender_full':'gender', 'STATUS':'employment_status', 'BUSINESS_UNIT':'business_unit'}, inplace = True)

In [14]:
# Checking data types
df.dtypes

employee_id             int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_number            int64
gender_short           object
gender                 object
termreason_desc        object
termtype_desc          object
year_of_record          int64
employment_status      object
business_unit          object
dtype: object

In [15]:
# Checking column names
df.columns

Index(['employee_id', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_number', 'gender_short',
       'gender', 'termreason_desc', 'termtype_desc', 'year_of_record',
       'employment_status', 'business_unit'],
      dtype='object')

In [16]:
# Checking unique values of city names 
df.city_name.unique()

array(['Vancouver', 'Terrace', 'Nanaimo', 'Nelson', 'Kelowna', 'Victoria',
       'Kamloops', 'Fort St John', 'Surrey', 'Vernon', 'Quesnel',
       'Chilliwack', 'Dawson Creek', 'Squamish', 'New Westminster',
       'Port Coquitlam', 'Cortes Island', 'Burnaby', 'Bella Bella',
       'Cranbrook', 'Williams Lake', 'Trail', 'Prince George', 'Richmond',
       'Grand Forks', 'West Vancouver', 'Abbotsford', 'Aldergrove',
       'Langley', 'North Vancouver', 'White Rock', 'New Westminister',
       'Fort Nelson', 'Haney', 'Valemount', 'Ocean Falls', 'Princeton',
       'Dease Lake', 'Pitt Meadows', 'Blue River'], dtype=object)

In [17]:
# Replacing with correct city name
df.replace('New Westminister','New Westminster', inplace=True)

In [18]:
# Checking frequency count for city_name
df['city_name'].value_counts()

Vancouver          11211
Victoria            4885
Nanaimo             3876
New Westminster     3465
Kelowna             2513
Burnaby             2067
Kamloops            2061
Prince George       2048
Cranbrook           1785
Surrey              1560
Richmond            1401
Terrace             1228
Chilliwack          1167
Trail                925
Langley              901
Vernon               898
Squamish             806
Quesnel              703
Abbotsford           681
North Vancouver      648
Fort St John         621
Williams Lake        617
West Vancouver       613
Port Coquitlam       545
Aldergrove           520
Fort Nelson          322
Nelson               317
Grand Forks          236
White Rock           231
Haney                182
Princeton            136
Dawson Creek         129
Bella Bella          126
Ocean Falls           65
Pitt Meadows          57
Cortes Island         43
Valemount             37
Dease Lake            18
Blue River             9
Name: city_name, dtype: int64

In [19]:
# Checking unique values of job_title
df.job_title.unique()

array(['CEO', 'VP Stores', 'Legal Counsel', 'VP Human Resources',
       'VP Finance', 'Exec Assistant, VP Stores',
       'Exec Assistant, Legal Counsel', 'CHief Information Officer',
       'Store Manager', 'Meats Manager',
       'Exec Assistant, Human Resources', 'Exec Assistant, Finance',
       'Director, Recruitment', 'Director, Training',
       'Director, Labor Relations', 'Director, HR Technology',
       'Director, Employee Records', 'Director, Compensation',
       'Corporate Lawyer', 'Produce Manager',
       'Director, Accounts Receivable', 'Bakery Manager',
       'Systems Analyst', 'Director, Accounts Payable', 'Director, Audit',
       'Director, Accounting', 'Director, Investments', 'Dairy Person',
       'Recruiter', 'Processed Foods Manager', 'Customer Service Manager',
       'Trainer', 'Meat Cutter', 'Labor Relations Analyst',
       'Dairy Manager', 'HRIS Analyst', 'Benefits Admin',
       'Compensation Analyst', 'Accounts Receiveable Clerk',
       'Accounts Payable Clerk', 'Baker', 'Auditor', 'Accounting Clerk',
       'Investment Analyst', 'Produce Clerk', 'Shelf Stocker', 'Cashier'],
      dtype=object)

In [20]:
# Checking frequency count for job_title
df['job_title'].value_counts()

Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Bakery Manager                      285
Meats Manager                       285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Labor Relations Analyst              30
Accounts Receiveable Clerk           30
Trainer                              26
Accounts Payable Clerk               25
Auditor                              20
Systems Analyst                      20
Investment Analyst                   20
Compensation Analyst                 20
Corporate Lawyer                     17
CEO                                  10
Exec Assistant, VP Stores            10
Legal Counsel                        10
VP Stores                            10
VP Human Resources                   10
VP Finance                           10
Director, Recruitment                10
Exec Assistant, Finance              10
Exec Assistant, Human Resources      10
CHief Information Officer            10
Exec Assistant, Legal Counsel        10
Director, Accounts Payable            9
Director, Accounts Receivable         9
Director, Employee Records            9
Director, HR Technology               9
Dairy Manager                         9
Director, Accounting                  9
Director, Investments                 4
Director, Labor Relations             4
Director, Compensation                4
Director, Audit                       4
Director, Training                    4
Name: job_title, dtype: int64

In [21]:
# Create for-loop to create Job Category from job titles
job_category = []
for value in df['job_title']:
    if (value == 'CEO') or (value == 'VP Stores') or (value == 'Director, Recruitment') or (value == 'VP Human Resources') or (value == 'VP Finance') or (value == 'Director, Accounts Receivable') or (value == 'Director, Accounting') or (value == 'Director, Employee Records') or (value =='Director, Accounts Payable')or (value == 'Director, HR Technology')or (value == 'Director, Investments')or (value == 'Director, Labor Relations')or (value == 'Director, Audit')or (value == 'Director, Training') or (value == 'Director, Compensation'):
        job_category.append('Board')
    elif (value == 'Exec Assistant, VP Stores') or (value == 'Exec Assistant, Legal Counsel') or (value == 'CHief Information Officer') or (value == 'Exec Assistant, Human Resources') or (value == 'Exec Assistant, Finance'):
        job_category.append('Executive')
    elif (value == 'Customer Service Manager') or (value == 'Processed Foods Manager') or (value == 'Meats Manager') or (value == 'Bakery Manager') or (value == 'Produce Manager') or (value == 'Store Manager') or (value == 'Trainer') or (value == 'Dairy Manager') :
        job_category.append('Manager')
    else:
        job_category.append('Employee')

In [22]:
# Create 'job_category' column based on 'job_title'column

df['job_category'] = job_category

In [23]:
# Checking unique values of job_category
df.job_category.unique()

array(['Board', 'Employee', 'Executive', 'Manager'], dtype=object)

In [24]:
# Checking frequency count for job_category
df['job_category'].value_counts()

Employee     47739
Manager       1749
Board          115
Executive       50
Name: job_category, dtype: int64

In [25]:
df.shape

(49653, 19)

In [26]:
# Checking unique values of department_name
df.department_name.unique()

array(['Executive', 'Store Management', 'Meats', 'Recruitment',
       'Training', 'Labor Relations', 'HR Technology', 'Employee Records',
       'Compensation', 'Legal', 'Produce', 'Accounts Receiveable',
       'Bakery', 'Information Technology', 'Accounts Payable', 'Audit',
       'Accounting', 'Investment', 'Dairy', 'Processed Foods',
       'Customer Service'], dtype=object)

In [27]:
# Checking frequency count for department_name
df['department_name'].value_counts()

Meats                     10269
Dairy                      8599
Produce                    8515
Bakery                     8381
Customer Service           7122
Processed Foods            5911
Store Management            271
Executive                   100
Recruitment                  72
HR Technology                64
Accounting                   59
Employee Records             44
Accounts Receiveable         39
Labor Relations              34
Accounts Payable             34
Training                     30
Compensation                 24
Audit                        24
Investment                   24
Information Technology       20
Legal                        17
Name: department_name, dtype: int64

In [28]:
# Checking frequency count for gender
df['gender'].value_counts()

Female    25898
Male      23755
Name: gender, dtype: int64

In [29]:
# Checking frequency count for gender_short
df['gender_short'].value_counts()

F    25898
M    23755
Name: gender_short, dtype: int64

In [30]:
# Checking frequency count for termreason_desc
df['termreason_desc'].value_counts()

Not Applicable    48168
Retirement          885
Resignaton          385
Layoff              215
Name: termreason_desc, dtype: int64

In [31]:
# Checking frequency count for employment_status
df['employment_status'].value_counts()

ACTIVE        48168
TERMINATED     1485
Name: employment_status, dtype: int64

In [32]:
# Checking frequency count for business_unit
df['business_unit'].value_counts()

STORES        49068
HEADOFFICE      585
Name: business_unit, dtype: int64

In [33]:
# Dropping columns which are not required for further analysis
df = df.drop(['recorddate_key', 'birthdate_key', 'gender_short', 'orighiredate_key'], axis = 1)

In [34]:
df.head()

,employee_id,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_number,gender,termreason_desc,termtype_desc,year_of_record,employment_status,business_unit,job_category
0,1318,1/1/1900,52,17,Vancouver,Executive,CEO,35,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE,Board
1,1318,1/1/1900,53,18,Vancouver,Executive,CEO,35,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE,Board
2,1318,1/1/1900,54,19,Vancouver,Executive,CEO,35,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE,Board
3,1318,1/1/1900,55,20,Vancouver,Executive,CEO,35,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE,Board
4,1318,1/1/1900,56,21,Vancouver,Executive,CEO,35,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE,Board

In [35]:
df.shape

(49653, 15)

In [36]:
#Importing population data set 
df_population=pd.read_csv(os.path.join(path,'02 Data','Original Data','population.csv'), index_col = False)

In [37]:
# Checking datatypes of population dataframe
df_population.dtypes

city_name     object
population     int64
dtype: object

In [38]:
df_population.shape

(39, 2)

In [39]:
df_population.columns

Index(['city_name', 'population'], dtype='object')

In [40]:
# Combining dataframes
df_merge = df.merge(df_population, on = 'city_name', indicator = True)

In [41]:
df_merge.shape

(48756, 17)

In [42]:
df.shape

(49653, 15)

897 rows didn't merge but they are less than 2% of original data which we can skip or delete.

In [43]:
# Creating population flag to crate groups of city loctions
df_merge.loc[df_merge['population'] >=100000, 'population_flag'] = 'Mega_city'
df_merge.loc[(df_merge['population'] < 100000) & (df_merge['population'] >= 20000), 'population_flag'] = 'Town'
df_merge.loc[df_merge['population'] < 20000, 'population_flag'] = 'Rural'

In [44]:
df_merge['population_flag'].value_counts()

Mega_city    28431
Town         15064
Rural         5261
Name: population_flag, dtype: int64

In [45]:
#creating age flag to crate groups of employee accorting to their age ,
df_merge.loc[df_merge['age'] >= 50, 'age_flag'] = 'Old_age'
df_merge.loc[(df_merge['age'] < 50) & (df_merge['age'] >= 35), 'age_flag'] = 'Middle_age'
df_merge.loc[df_merge['age'] < 35, 'age_flag'] = 'Young'

In [46]:
df_merge['age_flag'].value_counts()

Middle_age    17106
Old_age       15888
Young         15762
Name: age_flag, dtype: int64

In [50]:
# Creating employment status flag 

df_merge.loc[df_merge['employment_status'] == 'ACTIVE', 'employ_status_flag'] = '1'
df_merge.loc[df_merge['employment_status'] == 'TERMINATED', 'employ_status_flag'] = '0'

In [51]:
df_merge['employ_status_flag'].value_counts()

1    47337
0     1419
Name: employ_status_flag, dtype: int64

In [53]:
# Creating Hierarchy flag for job category

df_merge.loc[df_merge['job_category'] == 'Employee', 'Hierarchy'] = '0'
df_merge.loc[df_merge['job_category'] == 'Manager', 'Hierarchy'] = '1'
df_merge.loc[df_merge['job_category'] == 'Executive', 'Hierarchy'] = '2'
df_merge.loc[df_merge['job_category'] == 'Board', 'Hierarchy'] = '3'

In [54]:
df_merge.head()

,employee_id,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_number,gender,termreason_desc,...,year_of_record,employment_status,business_unit,job_category,population,_merge,population_flag,age_flag,employ_status_flag,Hierarchy
0,1318,1/1/1900,52,17,Vancouver,Executive,CEO,35,Male,Not Applicable,...,2006,ACTIVE,HEADOFFICE,Board,2437000,both,Mega_city,Old_age,1,3
1,1318,1/1/1900,53,18,Vancouver,Executive,CEO,35,Male,Not Applicable,...,2007,ACTIVE,HEADOFFICE,Board,2437000,both,Mega_city,Old_age,1,3
2,1318,1/1/1900,54,19,Vancouver,Executive,CEO,35,Male,Not Applicable,...,2008,ACTIVE,HEADOFFICE,Board,2437000,both,Mega_city,Old_age,1,3
3,1318,1/1/1900,55,20,Vancouver,Executive,CEO,35,Male,Not Applicable,...,2009,ACTIVE,HEADOFFICE,Board,2437000,both,Mega_city,Old_age,1,3
4,1318,1/1/1900,56,21,Vancouver,Executive,CEO,35,Male,Not Applicable,...,2010,ACTIVE,HEADOFFICE,Board,2437000,both,Mega_city,Old_age,1,3

In [55]:
df_merge.shape

(48756, 21)

# Exporting Data set

In [56]:
# Exporting cleaned dataset
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_cleaned_updated1.csv'))

In [57]:
# Exporting merged dataset
df_merge.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_merged.csv'))